
body{
	background-color: green;
	color:black;
	text-align: center;

}
.card{
	display: inline-block;
	width: 104px;
	height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-left: 0px;
	vertical-align: top;
	margin-top:27px ;


}
.shirt{
	display: inline-block;
	width: 104px;
	height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-left: 0px;
	vertical-align: top;
	background-image:url(cards/skirt.jpg);
}

.shadow{
	display: inline-block;
	width: 104px;
	height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-left: 0px;
	background-color: white;
	opacity: 0.1;
	vertical-align: top;
}

.field{
	background-color: #009000;
	border: 5px solid black;
	border-radius: 10px;
	width: 1000px;
	height: 600px;
	margin: auto;
	margin-top:10px;
	text-align: left;
	padding: 5px;
}



.hiden-cards-deck{
	background-image:url(cards/skirt.jpg);
	margin-left: 27;
}
.open-cards-deck{
	
}
.four-aces{
	float: right;
}
.ace{
	

}
.seven-piles{

}

.pile1{
	margin-left: 27px;
}

