
body{
	background-color: green;
	color:black;
	text-align: center;

}
.dragable{

}
.dropable{

}
.card{
	display: inline-block;
	width: 104px;
	height: auto;
	min-height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-left: 0px;
	vertical-align: top;
	background-repeat: no-repeat;
}
.shirt{
	display: inline-block;
	width: 104px;
	height: auto;
	min-height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-left: 0px;
	vertical-align: top;
	background-image:url(cards/skirt.jpg);
	background-repeat: no-repeat;
}

.field{
	background-color: green;
	border: 0px solid black;
	border-radius: 10px;
	width: 1000px;
	height: 600px;
	margin: auto;
	margin-top:10px;
	text-align: left;
	padding: 5px;
}



.hiden-cards-deck{
	background-image:url(cards/skirt.jpg);
	margin-left: 27px;
}
.open-cards-deck{
	display: inline-block;
	width: 104px;
	height: 160px;
	border-radius: 10px;
	margin:27px;
	margin-top: 0px;
	overflow:hidden;
}

.open-cards-deck .card{
	position: absolute !important;
}
.four-aces{
	float: right;
}
.ace{
	display: inline-block;
	width: 104px;
	height: 160px;
	border: 1px solid black;
	border-radius: 10px;
	margin:25px;
	margin-left: 0px;
	background-color:lightgreen;
	vertical-align: top;
}
.seven-piles{

}


.pile {
	display: inline-block;
	width: 104px;
	height: auto;
	min-height: 160px;
	border-radius: 10px;
	background: green;
	margin:27px;
	margin-left: 0px;
	vertical-align: top;
	background-repeat: no-repeat;
}

.pile1{
	margin-left: 27px;
}
